<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>An Error Occurred: {{ status_text }}</title>
</head>
<body>
<h3>Oops! An Error Occurred</h3>
<p>The server returned status {{ exception.statuscode }}</p>
</body>
</html>